@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

	<div class="row my-5">
		<h1 class="display-4 text-success">
			@Model.Result
		</h1>
		<h1 class="display-2 color-change">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</h1>
	</div>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
